{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
    {{- partial "breadcrumbs.html" . }}
    <h1>
        {{ .Title }}
        {{- partial "rss.html" . }}
    </h1>

    {{- if .Description }}
    <div class="post-description">
        {{ .Description | markdownify }}
    </div>
    {{- end }}

</header>
{{- end }}

{{- if .Content }}
<div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{/* Iterate over all sections */}}
{{- range $section := sort .Sections ".Params.subsection_order" "asc" }}
<h1><a href="{{ .RelPermalink }}" style="color:var(--content)">{{ .Title }}</a></h1>

{{ $sectionPages := site.GetPage .RelPermalink }}
{{ with $sectionPages }}
{{- $pages := .Pages }}
{{/* Filter out only the first 6 pages */}}
{{- $truncated := (gt (len $pages) 6) }}
{{- if $truncated }}
{{- $pages = first 6 $pages }}
{{- end }}

<div class="post-card-holder" id="post-card-holder">
    {{ range $pages }}
    {{- $class := "post-entry" }}
    {{- partial "post_card.html" (dict "cxt" . "IsHome" .IsHome "class" $class) }}
    {{ end }}
</div>

{{- if $truncated }}
<nav class="paginav" style="margin: calc(var(--gap) * (-1)) 0 var(--large-gap) 0;">
    <a class="prev" style="width: auto;" href="{{ .RelPermalink }}"><span>{{ i18n "show_all" }}</span></a>
</nav>
{{- end }}

{{ end }}{{/* end sectionPages */}}

{{- end }}{{/* end section */}}

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}