.image-fullscreen {
    width: 100%;
    pointer-events: none;
    width: 100%;
    height: 600px;
    background-color: var(--code-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.image-fullscreen .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
    text-align: center;
}

.image-fullscreen .container h1 {
    margin: 40px;
    color: white;
    font-size: 36pt;
    text-shadow: 4px 4px 4px black;
}

@media only screen and (max-width: 440px) {
    .image-fullscreen {
        height: 500px;
    }

    .image-fullscreen .container h1 {
        font-size: 26pt;
    }
}