.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--large-gap) * 2);
    margin: auto;
    padding: var(--gap);
}

body {
    background-color: var(--code-bg);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: bottom;
    gap: var(--small-gap);
    justify-content: center;
}

.pagination a {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--content);
    font-size: 13px;
    background: var(--code-bg);
    border-radius: var(--radius);
    padding: 0 16px;
}

.pagination a:hover {
    background: var(--theme);
    color: var(--content);
}

.pagination .current {
    background: var(--theme);
}

.nav-icons svg {
    height: 10px;
    width: 16px;
    padding: 0 3px;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}