<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default " auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print " list" -}} {{- end -}} {{- if eq site.Params.defaultTheme `dark` -}} {{- print " dark" }} {{- end -}} " id="
    top">
    {{- partialCached "header.html" . .Page -}}
    {{ if .IsHome }}
    <div class="image-fullscreen" style="background-image: url('{{ .Params.cover | relURL }}');">
        <div class="container">
            <h1>{{ .Site.Title }}</h1>
        </div>
    </div>
    {{ end }}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>