{{ define "main" }}

{{- if .Content }}
<div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- $pages = sort $pages "Date" "desc" }}

{{/* Display the latest post on the page differently */}}
{{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
{{- $separate1st := (and $.IsHome (not $user_preferred)) }}
{{- if $separate1st }}
<br>
<h1>Latest</h1>
{{- range first 1 $pages }}
{{- partial "post_card.html" (dict "cxt" . "IsHome" true "class" "first-entry") }}
{{- end }}
{{- end }}

<br>
<h1>Featured</h1>

<div class="post-card-holder" id="post-card-holder">
    {{/* Take the first 6 most recent articles where "featured" is set to true */}}
    {{- range first 6 (sort (where $pages "Params.featured" "eq" true) "Params.date" "desc") }}

    {{- $class := "post-entry" }}

    {{- partial "post_card.html" (dict "cxt" . "IsHome" true "class" $class) }}
    {{- end }}
</div>

{{/* Iterate over all sections */}}
{{- $pageSection := first 1 .Sections }}
{{- range $pageSection }}
{{- range $section := sort .Sections ".Params.order" "asc" }}
<br>
<h1><a href="{{ .RelPermalink }}" style="color:var(--content)">{{ .Title }}</a></h1>

{{ $sectionPages := site.GetPage .RelPermalink }}
{{ with $sectionPages }}
{{- $pages := .Pages }}
{{/* Filter out only the first 6 pages */}}
{{- $truncated := (gt (len $pages) 6) }}
{{- if $truncated }}
{{- $pages = first 6 $pages }}
{{- end }}

<div class="post-card-holder" id="post-card-holder">
    {{ range $pages }}
    {{- $class := "post-entry" }}
    {{- partial "post_card.html" (dict "cxt" . "IsHome" .IsHome "class" $class) }}
    {{ end }}
</div>

{{- if $truncated }}
<nav class="paginav" style="margin: calc(var(--gap) * (-1)) 0 var(--large-gap) 0;">
    <a class="prev" style="width: auto;" href="{{ .RelPermalink }}"><span>{{ i18n "show_all" }}</span></a>
</nav>
{{- end }}

{{ end }}{{/* end sectionPages */}}

{{ end }}

{{- end }}{{/* end section */}}

{{ end }}